<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
     <add name="ConnectionString" connectionString="Host=localhos;Database=MyJijoWallet;Username=wallet_user;Password=Ppa$$w0rd" />
  </connectionStrings>
  <appSettings>
    <add key="ConnString" value="Host = localhost; Database = MyJijoWallet; Username = wallet_user; Password = Pa$$w0rd" />
  </appSettings>
</configuration>